body{
  margin: 0;
}

.top-area{
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.top-area img{
  margin-left: 250px;
  width: 227px;
  height: 84px;
}

.nav-area {
  height: 59px;
  width: 100%;
  line-height: 59px;
  background: #dc7b2d;
  position: relative;
  margin-top: 30px;
  clear: both;
}

.nav{
  width:500px;
  margin:0 auto;
}

.nav-ul{
  width:100%;
  /*display: inline;*/
}

.nav-ul li{
  float: left;
  display: block;
  width: 120px;
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.nav-ul li:hover{
  background-color: #dc9d1a;
}

.home{
  display: block;
}

.about{
  display: none;
}

.home-img-area{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgba(233, 236, 246, 0.87);
}

.hr{
  width: 1400px;
  background-color: red;
  height: 1px;
  border: none;
}

.teamwork-title{
  margin-left: 200px;
  font-size: 20px;
  color: #dc7b2d;
}

.team-img{
  width: auto;
  margin: 0 auto 20px;
  text-align: center;
}

.team-img img{
  margin-left: 20px;
}

.team-img a{
  text-decoration: none;
}

.company-info-area{
  width: 100%;
  height: 300px;
  background: #2dc2ff;
  color: white;
  line-height: 30px;
  clear: both;
}

/*.company-info-area div{*/
  /*width: 300px;*/
  /*margin: auto;*/
/*}*/

.contact-area{
  margin-left: 50px;
  margin-top: 20px;
  float: left;
}

.footer-area{
  width: 100%;
  height: 60px;
  background: #2F2F2F;
  color: white;
  text-align: center;
  clear: both;
  line-height: 60px;
  font-size: 12px;
  position: relative;
  bottom: 0;
}

#content{
  height: auto;
}

.footer-logo-area{
  float: left;
}

.footer-logo-area img{
  width: 200px;
  height: 80px;
  margin-left: 200px;
  margin-top: 80px;
}

.footer-qrcode-area{
  float: right;
  margin-right: 120px;
}

.footer-qrcode-area img{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

.us-respect{
  width: 800px;
  margin: 20px auto 30px auto;
}

.busi-item{
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer;
}

.busi-item img{
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product_area{
  display: none;
}

.busi-area{
  display: none;
}

#busi_2, #busi_3{
  display: none;
}

.busi-desc{
  width: 500px;
  margin: auto;
}

.busi-select-area{
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-left: 150px;
}

.busi-select-area div{
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  background-color: antiquewhite;
  text-align: center;
}
